
<h1>
¿Quienes Somos?
</h1>
<h3>
Actualmente somos un grupo de Estudiantes de la Pontificia Universidad Catolica de Valparaiso, los cuales
deseamos presentar una herramienta que simplifique y fraternalice con las personas damnificadas en catastrofes
de cualquier indole.
</h3>


<h1>
¿Cual es nuestra finalidad?
</h1>
<h3>
Nuestra finalidad es proporcionar ayuda y transparencia a catastrofes de cualquier indole; con la finalidad de
poder proporcionar ayuda post dicha catastrofe.
</h3>
